html, body {
  height: 100%;
  width: 100%;
  color: #34495e;
  font-family: 'Lato', sans-serif;
}

nav {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 50px;
  background-color: rgba(255,255,255,0.2);
  z-index: 10;

  ul {
    display: inline-block;
    right: 30px;
    padding-bottom: 18px;
  }

  li {
    margin-right: 25px;
    display: inline;

    a {
      color: #533A27!important;
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

  }

}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #533A27;
  opacity: 0.8;
  color: #fff;
}

.set_width {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
