<div class="signup-in">
  <h3><%= @story.title %></h3>

  <%= @story.beginning %>
    <% if @contributions != nil && current_user == @story.user %>
      <% @contributions.each do |contribution| %>
        <p><%= contribution.body %></p>
      <% end %>
    <% else %>
      <%= @contribution.body if @contribution != nil %>
    <% end %>
  </div>
</div>
